/* Bewerbungen CSS Style Sheet  */
/* =========================== */

/* Imports  */
/* ======= */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/* Gobal Styles  */
/* ============ */
body {
    font-size: 10px;
    font-family: "Titillium Web", serif;
    color: #fff;
    background-color: #131c24;
    border-radius: 8px;
}

html:root {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* Navigationbar Design  */
/* ==================== */
.navbar-container {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #222;
    border-radius: 12px;
    transition: margin-top 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

.navbar-content ul {
    list-style-type: none;
    display: flex;
    gap: 4rem;
}

.navbar-content li { 
    list-style: none;
    text-decoration: none;
}

.navbar-content a {
    color: #958989b0;
    font-size: 26px;
    text-decoration: none;
    position: relative;
    padding-bottom: 0.25rem;
}

/* Navigationbar Link Hover Design  */
/* =============================== */
.navbar-content a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0.25rem;
    transition: width 0.4s ease-in-out;
    background-color: #1d4ed8;
    border-radius: 8px;
}

.navbar-content a:hover:after { 
    width: 100%;
}

.navbar-content a:hover {
    transition: color 0.4s ease-in-out;
    color: #fff;
    cursor: pointer;
}

/* Background Image & Overlay Design  */
/* ================================= */
.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(1px);
}

.background-overlay img {
    position: absolute;
    top: 12vh;
    margin-left: 0.5rem;
    width: 98.8%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    border-radius: 12px;
}

/* Bewerbungen Container Design  */
/* ============================ */
.bewerbungen-container {
    display: flex;
    flex-direction: column;
    background: #222;
    margin: 4vh 1vw 1vw;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.88);
    padding: 1rem;
    margin-bottom: 4rem;
}

h1 { 
    font-size: 3rem;
    margin-bottom: 0.5rem;
    gap: 1rem;
    text-align: center;
    width: 100%;
}

.bewerbungen-content p {
    font-size: 1.5rem;
    line-height: 1.8;
    color: #fff;
}

.bewerbungen-content .bewerbung-info{
    font-size: 1.5rem;
    line-height: 1.8;
    color: #fff;
    text-align: center;
    margin-top: 6vh;
}

.bewerbungen-content li {
    font-size: 1.5rem;
}

.bewerbung-dev{
    color: rgb(194, 31, 194);
}

.bewerbung-builder{
    color: orange;
}

.bewerbungs-button {
    display: inline-block;
    background: #217d30;
    color: white;
    padding: 0.8rem;
    border-radius: 12px;
    font-size: 1.5rem;
    text-decoration: none;
    transition: background 0.3s ease-in-out; 
}

.bewerbungs-button:hover {
    background: #23c12d;
}

/* Footer Design  */
/* ============= */
.footer-container { 
    position: relative;
    bottom: 0;
    width: 99.8%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30vh;
    background-color: #222;
    border-radius: 12px;
}

footer ul {
    list-style-type: none;
    display: flex;
    gap:20rem;
}

footer li {
    list-style: none;
    text-decoration: none;
}

footer a {
    color: #958989b0;
    font-size: 26px;
    text-decoration: none;
    position: relative;
    padding-bottom: 0.25rem;
}

/* Footer Link Hover Design  */
/* =============================== */
footer a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0.25rem;
    transition: width 0.4s ease-in-out;
    background-color: #1d4ed8;
    border-radius: 8px;
}

footer a:hover:after {
    width: 100%;
}

footer a:hover {
    transition: color 0.4s ease-in-out;
    color: #fff;
    cursor: pointer;
}